<div class="container">
  <div class="row top-buffer-150 ">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading" id="accordion">
          Chat
          <div class="btn-group pull-right">
            <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            </a>
          </div>
        </div>
        <div class="panel" id="collapseOne">
          <div class="panel-body">
            <ul class="chat">
              <% _.each(messages, function(message) {%>
                <% if (message.sender.id == req.user.id) {%>
                  <li class="left clearfix">
                    <div class="chat-body clearfix">
                      <div class="header">
                        <strong class="primary-font"><%= message.sender.name %></strong>
                      </div>
                      <p>
                        <%= message.msg %>
                      </p>
                    </div>
                  </li>
                  <%} else {%>
                    <li class="right clearfix">
                      <div class="chat-body clearfix">
                        <div class="header">
                          <strong class="primary-font"><%= message.sender.name %></strong>
                        </div>
                        <p>
                          <%= message.msg %>
                        </p>
                      </div>
                    </li>
                  <%}%>
                <%})%>
              </ul>
            </div>
            <div class="panel-footer">
              <div class="input-group">
                <input id="msg" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                <span class="input-group-btn">
                  <button class="btn btn-warning btn-sm" id="send" data-channel="<%= channel.slackChannelId %>"
                    data-sender="<%=req.user.id %>"
                    data-sender-name="<%= req.user.name %>"
                    data-receiver-name="<%= (channel.member.id == req.user.id) ? channel.createdBy.name : channel.member.name %>">
                    Send
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<script id="send-template" type="text/x-handlebars-template">
  <li class="{{class}} clearfix">
    <div class="chat-body clearfix">
      <div class="header">
        <strong class="primary-font">{{sender}}</strong>
      </div>
      <p>
        {{msg}}
      </p>
    </div>
  </li>
</script>

<script>
  $(document).ready(function(){
    initChat({id: '<%= req.user.id %>', name: '<%= req.user.name %>'});
    $(".panel-body").animate({scrollTop: 100000})
  });
</script>
